
Library/*
Temp/*
*.csproj
*.sln
*.suo
DataSource/*
*.mdb
*.browser
*.map
*.ini
*.resS
*.exe
*.aspx
*.sdf
*.userprefs

Assets/UnityHDRI.meta
Assets/UnityHDRI/Gareoult/GareoultWhiteBalanced.exr
Assets/GraphFramework/*
Assets/NewUI/*
Assets/UnityShaderEditor/*